body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Bitter", serif;
  background-color: rgb(228, 241, 253);
  color: #0f1b61;
}
.Header-box {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  align-items: center;
  margin-top: 10vh;
  background-color: rgb(255, 255, 255);
  width: 90vw;
  min-height: 40vh;
}

.Header-box:hover {
  transition-duration: 300ms;
  transform: scale(1.01)
}

.Profile-pic {
  height: 37vh;
  border-radius: 50%;
  border: solid rgb(228, 241, 253) 3em;
}

.Profile-pic:hover {
 transition-duration: 300ms;

}

.Component-spacing {
  margin-top: 10vh;
}

.Component-spacing:hover {
  transition-duration: 300ms;
  transform: scale(1.01)
}

.box {
  display: flex;
  width: 90vw;
  margin: auto;
}

.White-box {
  display: flex;
  background-color: white;
  margin: auto;
  width: fit-content;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
  text-align: left;
  margin-left: 20vw;
}

h3 {
  font-size: 2rem;
}

.Grid {
  display: grid;
  text-align: center;
  width: 90vw;
  grid-template-columns: 15.5vw 5vw 1fr 1fr 1fr 1fr;
  grid-template-rows: 5vh 6vw 6vw 6vw 6vw;
  grid-template-areas: 
  "... ... novice junior professional expert"
  "... html htmlBar htmlBar htmlBar ..."
  "... css cssBar cssBar cssBar ..."
  "... js jsBar jsBar jsBar..."
  "... figma figmaBar figmaBar figmaBar..."
}

.Novice {
  grid-area: novice;
}

.Junior {
  grid-area: junior;
}

.Svg {
  fill: grey;
  line-height: normal;
  vertical-align: middle;
}

.Professional {
  grid-area: professional;
}

.Expert {
  grid-area: expert;
}

.Html-icon {
  grid-area: html;
  background-image: url("./img/html.png");
  background-size:cover;
}

.Css-icon {
  grid-area: css;
  background-image: url("./img/cssIcon.png");
  background-size: 100%;
}

.Js-icon {
  grid-area: js;
  background-image: url("./img/jsIcon.png");
  background-size: 100%;
}

.Figma-icon {
  grid-area: figma;
  background-image: url("./img/figmaIcon.png");
  background-size: 100%;
}

.Html-bar {
  grid-area: htmlBar;
  background-color: #1da0f1;
  margin: 3vh;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 5vw;
  animation-delay: 4s;
  animation-name: barGrowHtml;
  animation-duration: 2.4s;
  animation-fill-mode: forwards;
}

@keyframes barGrowHtml {
  from {
    width: 5vw
  }
  to {
    width: 40vw
  }
}

.Css-bar {
  grid-area: cssBar;
  background-color: #1da0f1;
  margin: 3vh;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 5vw;
  animation-delay: 4.5s;
  animation-name: barGrowCss;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes barGrowCss {
  from {
    width: 5vw
  }
  to {
    width: 33vw
  }
}

.Js-bar {
  grid-area: jsBar;
  background-color: #1da0f1;
  margin: 3vh;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 5vw;
  animation-name: barGrowJs;
  animation-delay: 5s;
  animation-duration: 3.3s;
  animation-fill-mode: forwards;
}

@keyframes barGrowJs {
  from {
    width: 5vw
  }
  to {
    width: 26vw
  }
}


.Figma-bar {
  grid-area: figmaBar;
  background-color: #1da0f1;
  margin: 3vh;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 5vw;
  animation-delay: 5.5s;
  animation-name: barGrowFigma;
  animation-duration: 3.6s;
  animation-fill-mode: forwards;
}

@keyframes barGrowFigma {
  from {
    width: 5vw
  }
  to {
    width: 28vw
  }
}



.Header-text1 {
  animation-name: text1;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes text1 {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.Header-text2 {
  animation-name: text2;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0%;
}

@keyframes text2 {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.Pic-animation {
  animation-name: spinAppear;
  animation-delay: 3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0%;
}




@keyframes spinAppear {
  from { 
    opacity: 0%;
  }
  to {
    opacity:100%;
  }
}

.Skills-animation {
  animation-name: Skills;
  animation-delay: 4s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0%;
}
@keyframes Skills {
  from { 
    opacity: 0%;
  }
  to {
    opacity:100%;
  }
}

.Grid-project {
  width: 60vw;
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  " projectImg  projectH2"
  " projectImg  projectP"
  " projectImg  projectLink";
  height: 50vh;
}

.Project-h {
  grid-area: project-h;
  text-align: left;
}

.Project-link


.Project-img {
  background-image: url("./img/ChildBooksOnline.jpg");
  background-size: 60% 80%;
  grid-area: projectImg;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.Projects-h2-1 {
  grid-area: projectH1;
    font-size: 2.5rem;
    text-align: left;
}

.Project-h2-2 {
  grid-area: projectH2;
    font-size: 2.5rem;
    text-align: center;
}

.Project-p {
  grid-area: projectP;
  font-size: 1.5rem;
}

.Project-link {
  grid-area: projectLink;
}



