/* General css */
html {
  margin: 0 auto;
  font-family: "Bitter", serif;
  background-color: rgb(228, 241, 253);
  background: linear-gradient(90deg, rgba(160,229,255,1) 34%, rgba(0,212,255,1) 100%);
  color: #0f1b61;
  backdrop-filter: blur(10px);
  font-size: 100%;
  max-height: 100vh;
  max-width:100vw;
}
a {
  text-decoration: none;
  color: #0f1b61;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  text-align: left;
  margin-left: 20vw;
}

h3 {
  font-size: 1.5rem;
}


/* Header css */

.Header-box {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  align-items: center;
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 0.445);
  width: 90vw;
  border-radius: 25px;
  padding: 0;
}

.Header-text-box {
  padding:2em
}
.Header-box:hover {
  transition-duration: 300ms;
  transform: scale(1.01)
}
.Profile-pic {
  height: 15rem;
  border-radius: 50%;
  border: solid rgba(228, 241, 253, 0) 0em;
  padding: 0;
}
.Profile-pic:hover {
 transition-duration: 300ms;
}

.Header-text1 {
  animation-name: text1;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  margin: 0;
}

@keyframes text1 {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.Header-text2 {
  animation-name: text2;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0%;
  margin: 0;
}

@keyframes text2 {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.Component-spacing {
  margin-top: 3%;
}

.box {
  display: flex;
  width: 90vw;
  margin: auto;
}

.White-box {
  display: flex;
  background-color: rgba(255, 255, 255, 0.39);
  margin: auto;
  width: 90vw;
  backdrop-filter: blur(30px);
  border-radius: 25px;
}

.Grid {
  display: grid;
  text-align: center;
  width: 90vw;
  grid-template-columns: 3.5vw 1fr 1fr 1fr 1fr;
  grid-template-rows: 5vh 5vw 5vw 5vw 5vw;
  grid-template-areas: 
  "... novice junior professional expert"
  " html htmlBar htmlBar htmlBar ..."
  " css cssBar cssBar cssBar ..."
  " js jsBar jsBar jsBar..."
  " figma figmaBar figmaBar figmaBar...";
  margin: auto;
}

.Novice {
  grid-area: novice;
  margin: 0;
}

.Junior {
  grid-area: junior;
  margin: 0;
}

.Svg {
  fill: grey;
  line-height: normal;
  vertical-align: middle;
}

.Professional {
  grid-area: professional;
  margin: 0;
}

.Expert {
  grid-area: expert;
  margin: 0;
}

.Html-icon {
  grid-area: html;
  background-image: url("./img/html.png");
  background-size:cover;
}

.Css-icon {
  grid-area: css;
  background-image: url("./img/cssIcon.png");
  background-size: 100%;
}

.Js-icon {
  grid-area: js;
  background-image: url("./img/jsIcon.png");
  background-size: 100%;
}

.Figma-icon {
  grid-area: figma;
  background-image: url("./img/figmaIcon.png");
  background-size: 100%;
}

.Html-bar {
  grid-area: htmlBar;
  background-color: #1da0f1;
  margin: 1.4%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 5vw;
  animation-delay: 4s;
  animation-name: barGrowHtml;
  animation-duration: 2.4s;
  animation-fill-mode: forwards;
}

@keyframes barGrowHtml {
  from {
    width: 5vw
  }
  to {
    width: 27vw
  }
}

.Css-bar {
  grid-area: cssBar;
  background-color: #1da0f1;
  margin: 1.4%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 5vw;
  animation-delay: 4.5s;
  animation-name: barGrowCss;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes barGrowCss {
  from {
    width: 5vw
  }
  to {
    width: 25vw
  }
}

.Js-bar {
  grid-area: jsBar;
  background-color: #1da0f1;
  margin: 1.4%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 5vw;
  animation-name: barGrowJs;
  animation-delay: 5s;
  animation-duration: 3.3s;
  animation-fill-mode: forwards;
}

@keyframes barGrowJs {
  from {
    width: 5vw
  }
  to {
    width: 20vw
  }
}


.Figma-bar {
  grid-area: figmaBar;
  background-color: #1da0f1;
  margin: 1.4%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 5vw;
  animation-delay: 5.5s;
  animation-name: barGrowFigma;
  animation-duration: 3.6s;
  animation-fill-mode: forwards;
}

@keyframes barGrowFigma {
  from {
    width: 5vw
  }
  to {
    width: 28vw
  }
}

.Pic-animation {
  animation-name: spinAppear;
  animation-delay: 3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0%;
}

@keyframes spinAppear {
  from { 
    opacity: 0%;
  }
  to {
    opacity:100%;
  }
}

.Skills-animation {
  animation-name: Skills;
  animation-delay: 4s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0%;
}
@keyframes Skills {
  from { 
    opacity: 0%;
  }
  to {
    opacity:100%;
  }
}

.Grid-project {
  display: grid;
  width: 90vw;
  margin: auto;
  min-height: 30vh;
  grid-template-columns: .7fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "projectImg  projectH2"
  "projectImg  projectP"
  "projectImg  projectLink";
  justify-content: center;
  align-items: center;
  color:#0f1b61;
}

.Project-h {
  grid-area: project-h;
  text-align: left;
}

.Child-books-online-img {
  background-image: url("./img/ChildBooksOnline.jpg");
  background-size: 60% 80%;
  grid-area: projectImg;
  background-repeat: no-repeat;
  margin: auto;
  height: 100%;
  width: 100%;
}

.Projects-h2-1 {
  grid-area: projectH1;
    font-size: 2.5rem;
    text-align: left;
}

.Project-h2-2 {
  grid-area: projectH2;
    font-size: 2.5rem;
    text-align: center;
}

.Project-p {
  grid-area: projectP;
  font-size: 1.2rem;
  text-align: center;
}

.Project-link {
  grid-area: projectLink;
  text-align: center;
  height: 30%;
  width: 20%;
  background-color:#1da0f1;
  border-radius: 25px;
  border-style: none;
  color: white;
  font-size: 1.5rem;
  margin: auto;
  padding: 1em;
}

.Project-link:hover {
  transform: scale(1.2)
}

@media only screen and (max-width: 1200px) {
  
h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

.Profile-pic {
  height: 10vh;
  padding: 0em;
  margin: 0em;
}

}

